<div class="container">
    <h2 class="text-light">Startseite</h2>
    <div class="card p-3">
        <div class="mb-3 ms-3 me-3 mt-3">
            <span>Hallo, </span>
            <span>das ist eine der einzigen Webplattformen für Mediziener in der sie eigene Artikel hochladen, lesen und
                bearbeiten können.</span>
            <span>Ich habe sehr viel Arbeit und wissen in diese Website gesteckt. und fände es schön wenn sie mir helfen
                diese
                Seite auszubauen,<br></span>
            <span>indem sie wietere Artikel hinzufügen und die Website somit größer machen. Ich wünsche ihnen viel
                Erfolg.<br></span>
            <span>Vielen Dank<br></span>
            <span>CH<br></span>
            <span>PS: Sie müssen sich Registrieren um mitarbeiten zu können. Keine Sorge. Ich fordere fast keine
                persönliche
                Daten. Hier können sie sich <a routerLink="#">Registrieren</a></span>
        </div>
        <div class="text-center">
            <button class="mx-auto b-block me-2 mb-2 btn btn-outline-success" routerLink="#">Registrieren</button>
            <button class="mx-auto b-block ms-2 mb-2 btn btn-outline-primary" routerLink="/login">Login</button>
        </div>
    </div>
</div>